<ul class="nav justify-content-center mb-3">
  <div class="nav-item">
    <%= link_to "My lists", lists_path, :class => "nav-link active" %>
  </div>
  <div class="nav-item">
    <%= link_to "New list", new_list_path(@list), :class => "nav-link active" %>
  </div>
</ul>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.url%>)">
  <%= @list.name %>
</div>

<div class="list">
    <h3>My bookmarks</h3>
    <div> </div>
    <div class="add-list"> <%= link_to "Add a movie", new_list_bookmark_path(@list, @bookmark), :class => "btn btn-success" %></div>
  </div>

<div class="list-container">
  <% @list.movies.each do |movie| %>
    <div class="card">
      <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_url %>" class="card-img-top image" alt="...">
      <div class="card-content">
        <h5 class="card-title"><%= movie.title %>・<%= movie.rating %><i class="fa-sharp fa-solid fa-star star"></i></h5>
        <p class="card-text max-lines"><%= movie.overview %></p>
      </div>
      <div class="card-bottom">
      <p class="card-comment"><i class="fa-sharp fa-solid fa-quote-left"></i><strong><em> <%= Bookmark.find_by(movie_id: movie.id).comment %></strong></em></p>
        <%= link_to "delete", movie_path(movie), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    </div>
  <% end %>
</div>
